<%- include('partials/header'); %>

    <div class="msg_box">
        <img class="img-fluid rounded mx-auto d-block" src="/media/images/404.webp" alt="Eror 404">
        <p class="text-center h4 text-success">Sorry, the requested page couldn't be found.</p>
    </div>

    <%- include('partials/footer'); %>